<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation by Location</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="assets/img/wether/favicon.png">
</head>
<body>
    <div class="container">
        <header>
            <span class="image-clickable">
              <a href="index.html">
                <img src="images/logo-dark.png" alt="main-logo" class="logo" />
              </a>
            </span>
            <nav>
              <ul class="nav-links">
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </nav>
            <a href="#"><button>Contact Us</button></a>
          </header>
        <div class="weather">
            <p id="city" class="weatherInfo"></p>
            <p id="currentTime" class="weatherInfo"></p>
            <p id="temperature" class="weatherInfo"></p>
            <p id="humidity" class="weatherInfo"></p>
            <p id="wind" class="weatherInfo"></p>
            <p id="prescription" class="weatherInfo"></p>
            <p id="prescription1" class="weatherInfo"></p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="assets/js/index.js"></script>
</body>
</html>
